@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-banner: #ff8833;
  --color-background: #161616;
  --color-foreground: #ffffff;
}

.dark {
  --color-background: #161616;
  --color-foreground: #ffffff;
}

body {
  font-weight: 600;
}
